db/*.db
TODO
tags
build
copyright
.gdb_history
lib
core/build
third_party/
build
bin
.vs
CMakeSettings.json
*.vim
*.swp
.DS_Store
CppProperties.json
compile_commands.json
Testing/
cmake-build-*/
.idea/
SprintTimer.srctrl*
.clangd
